{% extends "base.html" %}
{% load static %}

{% block title %}Home - Spotify Wrapped{% endblock %}

{% block extra_styles %}
<style>
    /* Background styling for home page */
    body {
        padding-top: 100px; /* Offset for fixed header */
        color: #333;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f8f9fa;
    }

    /* Container styling */
    .container {
        max-width: 400px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 40px;
        text-align: center;
    }

    h1 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #1DB954;
    }

    p {
        margin-bottom: 30px;
        color: #666;
    }

    .start-button, .main-button, .custom-button, .custom-button1, .custom-button2 {
        background-color: #1DB954;
        color: #fff;
        transition: background-color 0.3s ease;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border: none;
        width: 100%;
        cursor: pointer;
        margin-bottom: 10px;
        text-decoration: none;
        display: inline-block;
    }

    .start-button:hover, .main-button:hover, .custom-button:hover, .custom-button1:hover, .custom-button2:hover {
        background-color: #073625;
    }

    .footer {
        margin-top: 20px;
        font-size: 12px;
        color: #777;
    }
</style>
{% endblock %}

{% block content %}
    <h1>Welcome To Spotify Wrapped</h1>
    <p>Click below to see your personalized Wrapped experience.</p>
    <a href="{% url 'spotify_login' %}" class="start-button">See My Wrapped</a>
    <div class="main-button-container">
        <a href="{% url 'spotify_callback' %}" class="main-button">View Original Wrapped</a>
    </div>
    <div class="custom-buttons-container">
        <h2>Or...choose a customized Wrapped</h2>
        <div class="custom-buttons">
            <a href="{% url 'long_term' %}" class="custom-button">Long-term</a>
            <a href="{% url 'medium_term' %}" class="custom-button">Medium-term</a>
            <a href="{% url 'short_term' %}" class="custom-button">Short-term</a>
            <a href="{% url 'christmas' %}" class="custom-button1">Christmas</a>
            <a href="{% url 'halloween' %}" class="custom-button2">Halloween</a>
        </div>
    </div>
    <div class="footer">
        <p>&copy; 2024 CS2340 TEAM 50</p>
    </div>
{% endblock %}

<script>
function togglePassword(element) {
    const passwordInput = element.previousElementSibling;
    const icon = element.querySelector('i');
    
    if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
    } else {
        passwordInput.type = 'password';
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
    }
}
</script>