# Web framework for building the application
Django==5.1.3
# Gunicorn is a WSGI HTTP Server for UNIX, used to run the app in production
gunicorn==23.0.0
# Requests is a simple HTTP library for making API requests
requests==2.32.2 # Version of the Requests library
# python-dotenv is a package for reading environment variables from a .env file
python-dotenv>=1.0.1
# whitenoise is a library to serve static files efficiently in production with Django
whitenoise==6.8.2